<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Allow direct access to existing files/folders
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]
    
    # Send all other requests to index.php in the root
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
